<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="~{base::Layout(~{::section})}"> 
  <head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    

<title>Page Title</title>
</head>
<body>             <!-- base::Layout(~{::section}) -->

   <section>
	 <div class="container">
		  <div class="row">
			  
			  <div class="col-md-8 offset-md-2">
				<div class="my-card mt-1">
					 
					      	 <!--start<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert alert-primary" role="alert">
                                         <p th:text="${session.message.content}"></p>
                                         <th:block th:text="${session.removeAttribute('message')}"></th:block>
                                    </div>
                                     alert   <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                                                  -->
                                    
                                    
                                    
                                     <div th:if="${session.message}"
                                                th:classappend="${session.message.type}" class="alert">
                                         <p class="text-center" th:text="${session.message.content}"></p>
      
                                    </div>
                                    
                              <!--end alert -->
			
					 <!--image add if u  want-->
					
					<h1 class="text-center">Register Here..</h1>
					
					
					 <form action=""  th:action="@{/do_register}" method="post" th:object="${user}">
						
                              	<!--name field-->
						
						
						<div class="form-group">
                            <label for="name_field">Your name</label>
                           
                              <input 
                              name="name"
                               type="text" 
                              class="form-control" 
                              id="name_field"
                              aria-describedby="emailHelp"
                              placeholder="Enter name"
                              required
                              
                               th:value="${user.name}"
                              />
                                    
                           
                      </div>
                      <!--email fild-->
						
						
						<div class="form-group">
                            <label for="email_field">Email</label>
                           
                              <input
                              name="email"
                               type="email" 
                              class="form-control" 
                              id="email_field"
                              aria-describedby="emailHelp"
                              placeholder="Enter here"
                              required
                                  th:value="${user.email}"
                              />
                          </div>           
                           
                           
                           <!--password field-->
						
						
						<div class="form-group">
                            <label for="password_field">Password</label>
                           
                             <input
                               name="password"
                               type="password" 
                              class="form-control" 
                              id="password_field"
                              aria-describedby="emailHelp"
                              placeholder="Enter here"
                              required
                              />
                          </div>    
                              <!--about field-->
                           <div class="form-group">
   
                               <textarea  name="about" th:value="${user.about}" placeholder="Enter about yourself" class="form-control"  rows="5"></textarea>
                            </div>
                            
                            
                            <!--checked box-->
                            
                            <div class="form-group form-check text-center">
                                  <input  type="checkbox"
                                
                               
                                  name="agreement" 
                                   class="form-check-input" 
                                  id="agreement"/>
                                  
                                  
                                  <label class="form-check-label" for="agreement">
                                     Agreement terms and conditions 
                                </label>
                            </div>
                            
                            
                            
                            
                            
						   
						   <div class="container text-center">
							   <button type="submit" class="btn bg-primary text-white text-center">Submit</button>
						        <button type="reset" class="btn bg-primary text-white text-center">Reset</button>
						   </div>
					  
						 
					 </form>
				</div>
			  </div>
			  
			  
		  </div>
		 
	 </div>
   </section>


</body>
</html>
